@page
@model F1CRUD.Pages.circuits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Circuits[0].url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circuits[0].circuitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circuits[0].location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circuits[0].country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Circuits) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.circuitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.circuitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.circuitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.circuitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
